= render :partial => "shared/argylenavbar", :user => @user

- @posts.each do |post|
  .row
    .col-sm-12
      .row
        .col-sm-12.posting-title
          = post.title
      .row
        .col-sm-12.posting-body
          = post.body
      .row
        .col-sm-4.posting-contact
          = post.user.email
          = link_to "Comment here", "#"

