= render :partial => "shared/argylenavbar", :user => @user

.row
  .col-sm-12
    %h2
      Posts by #{@user.email}
    %br
    %br
- @posts.reverse_each do |post|
  .row
    .col-sm-12
      .row
        .col-sm-12.posting-title
          %p
            %h4
              = post.title
      .row
        .col-sm-12.posting-body
          %p
            = post.body
      .row
        .col-sm-4.posting-contact
          %p
            %strong
              Written by #{post.user.email} #{ local_time_ago(post.created_at) }
          %p
            = link_to "Comment here", "#"
            |
            = link_to "Show full post", user_post_path(post.user_id, post.id)
            - if @user.id == post.user_id
              |
              = link_to "Delete post", user_post_path(@user.id, post.id), :method => 'delete'
              |
              =link_to "Edit Post", edit_user_post_path(@user.id, post.id)
%br
%br
