= render :partial => "shared/argylenavbar", :user => @user

.row
  .col-md-12
    %h2
      Now viewing an individual post by #{@post.user.email}

.row
  .col-md-12
    %p
      %h4
        = @post.title
    %p
      = @post.body
    %p
      %strong
        Written #{ local_time_ago(@post.created_at) }
    - if @user.id == @post.user_id
      %p.some{ :style => "color:red;"}
        = link_to "Delete Post", user_post_path(@user.id, @post.id), :method => 'delete'
        |
        = link_to "Edit Post", edit_user_post_path(@user.id, @post.id)